<p>Chào bạn {{email}},</p>
<p>Bạn hoặc ai đó đã gửi yêu cầu <strong>Thay đổi email</strong> tại website <strong>{{base_url}}</strong></p>
<p>Nếu không phải là bạn! Vui lòng bỏ qua email và không cần phải làm gì cả.</p>
<p>Để tiếp tục, bạn hãy nhấn vào liên kết sau để xác thực quá trình thay đổi email cho bạn:</p>
<p><a href="{{link_change_email}}" target="_blank">{{link_change_email}}</a></p>
<p>Nếu không thể bấm trực tiếp vào link, hãy copy nó và dán vào trình duyệt:</p>
<p><em>{{link_change_email}}</em></p>
<p><strong>Xin lưu ý! Sau khi xác nhận việc thay đổi email, bạn sẽ được đăng nhập tự động vào hệ thống và điều hướng tới khu vực thông tin cá nhân của bạn.</strong></p>
