<p>Chào bạn {{email}},</p>
<p>Bạn hoặc ai đó đã gửi yêu cầu <strong>Khởi tạo lại mật khẩu đăng nhập</strong> tại website <strong>{{base_url}}</strong></p>
<p>Nếu không phải là bạn! Vui lòng bỏ qua email và không cần phải làm gì cả.</p>
<p>Để tiếp tục, bạn hãy nhấn vào liên kết sau để xác thực quá trình khởi tạo mật khẩu cho bạn:</p>
<p><a href="{{link_reset_pass}}" target="_blank">{{link_reset_pass}}</a></p>
<p>Nếu không thể bấm trực tiếp vào link, hãy copy nó và dán vào trình duyệt:</p>
<p><em>{{link_reset_pass}}</em></p>
<p><strong>Xin lưu ý! Sau khi xác nhận việc khởi tạo mật khẩu, bạn sẽ được đăng nhập tự động vào hệ thống và điều hướng tới khu vực đổi mật khẩu. Hãy đổi mật khẩu mới cho tài khoản của bạn và tiếp tục sử dụng.</strong></p>
