<div class="thread-list-padding">
    <div class="global-a-posi fcb"><a title="{{post_title}}" aria-label="{{post_title}}" href="{{post_permalink}}"
            data-href="{{image}}">&nbsp;</a>
        <div class="cf">
            <div class="lf f50 thread-list-left fullsize-if-mobile">
                <div data-size="{{cf_posts_size}}" data-img="{{image}}" data-large-img="{{image_medium_large}}"
                    data-webp="{{image_webp}}" class="ti-le-global thread-list-avt each-to-bgimg">&nbsp;</div>
            </div>
            <div class="lf f50 thread-list-right fullsize-if-mobile">
                <div class="thread-list-title">
                    <{{dynamic_title_tag}} itemprop="headline">{{post_title}}</{{dynamic_title_tag}}>
                </div>
                <div class="thread-list-info">
                    <div class="thread-list-desc" itemprop="description">{{post_excerpt}}</div>
                    <div class="thread-list-author d-none">Tác giả: {{itemprop_author}}</div>
                    <div class="thread-list-more"><span>Chi tiết</span></div>
                </div>
            </div>
        </div>
    </div>
</div>