.pagination a {
    float: left;
    line-height: 40px;
    text-decoration: none;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-left-width: 0;
    color: #444;
    height: 40px;
    width: 40px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.pagination a:hover {
    background: #FF3332;
    border: 1px solid #ddd;
    border-radius: 100%;
    color: #fff;
    height: 40px;
    width: 40px;
}

.pagination strong {
    float: left;
    /* padding: 4px 12px; */
    line-height: 40px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 16px;
    background: #FF3332;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
}

form#listContactByType {
    padding-top: 3px;
    width: 84%;
    float: left;
}

#admin-header {
    background-color: #2b2927;
    border-top: 3px solid #f77825;
    border-bottom: 1px solid #555;
    padding: 0 10px;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    top: 0;
    z-index: 10;
    line-height: 30px;
}

#admin-header * {
    padding: 0;
    margin: 0;
}

.form-actions.frm-fixed-btn.cf {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    left: 168px;
    text-align: center;
    padding: 8px 0;
    background: rgba(50, 50, 50, 0.9);
    border-top-color: #000;
    z-index: 99;
}

.form-actions.frm-fixed-btn.cf .btn {
    margin: 0 25px;
    box-shadow: 0 0 10px #666;
    padding-left: 25px;
    padding-right: 25px;
}

.form-actions.frm-fixed-btn.cf .btn-small {
    padding-left: 10px;
    padding-right: 10px;
}

.body-debug_enable .form-actions.frm-fixed-btn.cf {
    padding-bottom: 48px;
}

.frm-fixed-btn:not(.cf) button[type="submit"] {
    position: fixed;
    top: 50%;
    right: 20px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 15px;
    transform: translate(0, -50%);
    z-index: 1;
}

.admin-breadcrumb {
    display: none;
}

.admin-copyright {
    background: #f2f2f2;
    padding: 20px 0;
    border-top: 5px #ccc solid;
}

.table-list tr th.text-center,
.table-list tr td.text-center {
    text-align: center;
}

.table-list a {
    color: blue;
}

/* */
.control-group label {
    cursor: pointer;
    margin-bottom: 0;
}

.control-group .control-label {
    font-weight: bold;
}

.control-group label:hover {
    color: black;
}

.controls-checkbox input[type="radio"],
.controls-checkbox input[type="checkbox"] {
    margin-top: -2px;
}

.controls-checkbox label {
    display: inline-block;
}

.controls-text-note {
    font-style: italic;
    line-height: 19px;
    margin-bottom: 0;
}

.controls-text-note a {
    color: #0969da;
}

.click_add_widget_class .fa-check-square {
    color: green;
}

.click_add_widget_class .fa-minus-square {
    color: gray;
}

.control-group-avt {
    height: 90px;
    border: 1px #ccc solid;
    padding: 1px;
}

.control-group select {
    width: auto;
    min-width: 220px;
}

/* */
.admin-media-attachment {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-media-attachment li {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.admin-media-attachment .media-attachment-padding {
    box-shadow: 0 0 10px #ccc;
    padding: 5px;
    position: relative;
}

.admin-media-attachment .media-attachment-img {
    height: 1px;
    padding-top: 100%;
    background: center no-repeat;
    background-size: auto 100%;
    cursor: pointer;
}

.admin-media-attachment .media-attachment-img[data-mime="video"] {
    background-image: url("../../images/media/video.png") !important;
    background-size: auto;
}

.admin-media-attachment .media-attachment-img[data-mime="audio"] {
    background-image: url("../../images/media/audio.png") !important;
    background-size: auto;
}

.admin-media-attachment li:hover .media-attachment-img {
    background-size: contain;
}

.admin-media-attachment .remove-attachment {
    color: red;
    border: 1px #fff solid;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #fff;
}

.admin-media-attachment li:hover .show-if-hover-upload {
    display: block !important;
}

.show-attachment-title {
    position: absolute;
    border: 1px #ccc solid;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;
    box-shadow: 0 0 10px #ccc;
    z-index: 99;
    width: 100%;
}

/* */
.cur {
    cursor: pointer;
}

body.no-scroll {
    overflow: hidden;
}

.wgr-wp-upload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    z-index: 9999;
}

.wgr-wp-upload iframe {
    background: #fff;
}

.eb-control-group {
    padding: 15px 0 10px 0;
}

.eb-control-group label {
    line-height: 30px;
}

.eb-control-group label.right-menu-space {
    padding-right: 20px;
}

.eb-control-group .span12 {}

.eb-control-group {}

/* */
#adminmenumain {
    position: fixed;
    left: 0;
    z-index: 9;
    bottom: 0;
    top: 34px;
    /* border: 1px #f00 solid; */
    width: 168px;
}

body.sidebar-hover #adminmenumain {
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: grey transparent;
    scrollbar-width: thin;
}

#adminmenumain::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    background-color: transparent;
}

#adminmenumain::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
}

#adminmenumain::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.01);
    background-color: transparent;
}

#sidebar {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    background: none;
    clear: both;
    width: 100%;
    max-width: 168px;
    background-color: black;
    min-height: 100%;
    padding-bottom: 50px;
}

/*
body.ebfixed-top-menu #sidebar {
    position: fixed;
    top: 0;
    z-index: 999;
    background: black;
}
body.ebfixed-down-menu.sidebar-hover.sidebar-height #sidebar {
    padding-bottom: 10px;
}
body.ebfixed-down-menu.sidebar-hover.sidebar-height #sidebar, body.ebfixed-down-menu.sidebar-hover.sidebar-height #sidebar > ul li ul {
    top: auto;
    bottom: 0;
}
*/
#sidebar .smart-admin-menu li.middle-sidebar-li:not(.active) .sub-menu {
    top: 50%;
    transform: translate(0, -50%);
}

#sidebar .smart-admin-menu li.last-sidebar-li:not(.active) .sub-menu {
    top: auto;
    bottom: 0;
}

#sidebar>ul li ul {
    border-radius: 0 5px 5px 0;
}

#sidebar>ul li .sub-menu li:first-child a {
    border-top-right-radius: 5px;
}

#sidebar>ul li .sub-menu li:last-child a {
    border-bottom-right-radius: 5px;
}

#sidebar>ul li ul li:hover a {
    background: rgba(0, 0, 0, 0.5);
}

#sidebar>ul>li .sub-menu li.active a {
    background-color: #2271b1;
}

/* */
.admin-search-form {}

.admin-search-form button,
.admin-search-form input,
.admin-search-form select,
.admin-search-form a.btn {
    display: block;
    width: 95%;
    padding: 0 .75rem;
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

.admin-search-form input,
.admin-search-form select {
    background-color: #fff;
    color: #212529;
}

.admin-search-form input {}

.admin-search-form select {}

.admin-search-form button {
    width: auto;
}

.admin-search-form a.btn {
    display: inline-block;
    line-height: 28px;
    width: auto;
}

.order-admin-menu {
    display: -webkit-flex !important;
    /* Safari */
    display: flex !important;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

/* */
.eb-table th {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: black;
}

.eb-table tbody tr:nth-child(odd) td {
    background-color: #fff;
}

.eb-table tbody tr:nth-child(even) td {
    background-color: #f0f0f0;
    color: black;
}

.eb-table tr:hover td {
    background-color: antiquewhite !important;
}

.eb-table input[type="number"] {
    padding: 6px 0 6px 10px;
    margin-bottom: 0;
    line-height: normal;
}

.eb-table input[type="number"].s {
    width: 68px;
}

#post_meta_post_category {
    width: 60%;
    max-width: 350px;
    min-height: 150px;
}

.control-group.current-selected-support {
    background: #fc9;
    background: rgba(255, 204, 152, .33);
    box-shadow: 0 0 10px 0 #666;
}

.post-admin-thumbnail {
    display: inline-block;
}

.post-admin-thumbnail img {
    max-height: 90px;
    width: auto !important;
}

/*
#admin_main_list tr {
    opacity: 0.1;
}
#admin_main_list tr.repeated {
    opacity: 1;
}
*/
#target_eb_iframe {
    position: absolute;
    top: -800px;
    left: -999px;
}

body.body-debug_enable #target_eb_iframe,
#target_eb_iframe.show-target-eb {
    position: inherit;
    position: unset;
    top: auto;
    left: auto;
}

/* */
body.body-debug_enable #admin-header {
    border-top-color: black;
}

body.body-debug_enable #admin-header,
body.body-debug_enable #sidebar {
    background-color: darkslateblue;
}

.row .row {
    margin-left: 0;
}

/* */
#admin_main_list .post_status {}

.post_status-publish {
    color: green !important;
}

.post_status-pending {
    color: black !important;
    font-weight: bold;
}

.post_status-draft {
    color: orange !important;
}

.post_status-trash {
    color: red !important;
}

/* */
.quick-edit-form {
    padding: 10px 5px;
    background-color: rgba(100, 100, 100, 0.9);
    /* border-radius: 0 0 5px 5px; */
    display: none;
    position: fixed;
    top: 34px;
    left: 168px;
    right: 0;
    z-index: 99;
    border-bottom: 1px #666 solid;
    box-shadow: 0 5px 10px #ccc;
}

.quick-edit-form .row {
    margin-left: 0;
    width: 99%;
    /* max-width: 1366px; */
    margin: 0 auto;
}

.quick-edit-form button {
    margin-bottom: 0;
}

.ng-main-content {
    opacity: 0.1;
}

.ng-main-content.loaded {
    opacity: 1;
}

.text-submit-msg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
}

#for_vue .row .col-inner {}

.admin-order-table {}

.admin-order-table tr td:first-child {
    border-left-width: 5px;
}

.admin-order-table tr.pending td {
    font-weight: bold;
}

.admin-order-table tr.pending td:first-child {
    border-left-color: #333;
}

.admin-order-table tr.private td {
    color: green !important;
}

.admin-order-table tr.private td:first-child {
    border-left-color: green;
}

.admin-order-table tr.trash td {
    text-decoration: line-through;
}

.admin-order-table tr.trash td,
.admin-order-table tr.trash td a {
    color: gray !important;
}

.admin-order-table tr.trash td:first-child {
    border-left-color: gray;
}

.change-update-menu_order.pending,
.change-update-term_order.pending {
    opacity: 0.1;
}

.preview-btn {
    display: none;
}

/* */
.admin-menu-search {}

.admin-menu-search input {
    width: 98%;
    border-radius: 3px;
    padding: 2px 6px !important;
    background-color: #f2f2f2;
}

.admin-menu-search input:focus {
    background-color: #fff;
}

.admin-menu-result {
    display: none;
    position: relative;
}

.admin-menu-padding {
    position: absolute;
    left: 0;
    right: 0;
}

#admin_menu_result {
    max-height: 250px;
    overflow-y: auto;
    border: 1px #ccc solid;
    background-color: white;
}

#admin_menu_result ul {
    list-style: none;
}

#admin_menu_result li {}

#admin_menu_result label,
#admin_menu_result a {
    color: black !important;
    display: block;
    padding: 6px 0;
    border-top: 1px #f2f2f2 solid;
    font-size: 15px;
}

#admin_menu_result label {
    cursor: pointer;
}

#admin_menu_result label:hover,
#admin_menu_result a:hover {
    color: red !important;
    border-top-color: #ccc;
}

#admin_menu_result i {
    min-width: 36px;
    display: inline-block;
    text-align: center;
}

.admin-menu-header {
    background-color: #3683dc;
    padding: 5px 20px !important;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    display: none;
}

.admin-menu-none {
    text-align: center;
    color: red;
    font-size: 16px;
    background-color: #f2f2f2;
    padding: 68px 0 !important;
    display: none;
    box-shadow: 0 0 10px #ccc;
}

.admin-menu-result.noned #admin_menu_result,
.admin-menu-result.actived #admin_menu_result li {
    display: none;
}

.admin-menu-result.noned .admin-menu-none,
.admin-menu-result.actived #admin_menu_result li[data-show="1"] {
    display: block;
}

/* ================================== reponsive ================================== */
/* desktop only */
@media only screen and (min-width:748px) {

    /* chức năng preview khi sửa q.cáo */
    body.is-admin.preview-url {
        padding-top: 0;
    }

    body.preview-url {
        padding-left: 0;
        overflow: hidden;
    }

    body.preview-url #admin-header,
    /* body.preview-url #content-header, */
    body.preview-url #adminmenumain {
        display: none;
    }

    body.preview-url #content-header {}

    body.preview-url #content .row-fluid:first-child {
        margin-top: 0;
    }

    body.preview-url #content {
        margin-left: 0;
        background-color: #333;
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding-bottom: 68px;
        padding-top: 43px;
        z-index: 1;
    }

    body.preview-url #content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        -o-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    body.preview-url #content::-webkit-scrollbar {
        width: 2px;
        background-color: #F5F5F5;
    }

    body.preview-url #content::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        -o-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #666;
    }

    body.preview-url .form-horizontal .control-label {
        float: none;
        width: auto;
        text-align: left;
        padding-left: 10px !important;
        display: inline-block;
    }

    body.preview-url .form-horizontal .controls {
        margin-left: 10px;
    }

    body.preview-url .white-preview-url,
    body.preview-url #oi_other_posts,
    body.preview-url #oi_other_posts a {
        color: white !important;
    }

    body.preview-url .span1,
    body.preview-url .span2,
    body.preview-url .span3,
    body.preview-url .span4,
    body.preview-url .span5,
    body.preview-url .span6,
    body.preview-url .span7,
    body.preview-url .span8,
    body.preview-url .span9,
    body.preview-url .span10,
    body.preview-url .span11,
    body.preview-url .span12,
    body.preview-url .span30 {
        width: 99%;
    }

    body.preview-url .controls {
        width: auto !important;
    }

    body.preview-url .form-actions.frm-fixed-btn.cf {
        left: 0;
        right: auto;
    }

    body.preview-url #target_eb_iframe {
        position: fixed !important;
        top: 0 !important;
        left: 30% !important;
        bottom: 0;
        right: 0;
        width: 70%;
    }

    body.preview-url .preview-btn {
        display: block !important;
        position: fixed;
        top: 0;
        right: auto;
        text-align: right;
        background: #666;
        padding: 5px;
        left: 0;
        z-index: 9;
    }

    body.preview-url .btn {}

    body.preview-url .fullsize-if-mobile {
        float: none;
        width: auto;
    }

    body.preview-url .container {
        width: auto;
    }

    body.preview-url #menu-editor {
        position: fixed;
        top: 50%;
        left: 45px;
        right: auto;
        background-color: white;
        box-shadow: 0 0 10px #ccc;
        padding: 10px 20px;
        width: 25%;
        transform: translate(0, -50%);
    }

    body.preview-url .preview-btn,
    body.preview-url .form-actions.frm-fixed-btn.cf,
    body.preview-url #content {
        width: 30%;
    }

    body.preview-url.preview-expand-url .preview-btn,
    body.preview-url.preview-expand-url .form-actions.frm-fixed-btn.cf,
    body.preview-url.preview-expand-url #content {
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        width: 50%;
    }
}

/* mobile, table only */
@media only screen and (max-width:788px) {

    .row-fluid .span9,
    .row-fluid .span8,
    .row-fluid .span7,
    .row-fluid .span6,
    .row-fluid .span5,
    .row-fluid .span4,
    .row-fluid .span3,
    .row-fluid .span2,
    .row-fluid .span1 {
        width: 66%;
        *width: 66%
    }
}

/* medium size */
@media only screen and (max-width:588px) {

    .row-fluid .span9,
    .row-fluid .span8,
    .row-fluid .span7,
    .row-fluid .span6,
    .row-fluid .span5,
    .row-fluid .span4,
    .row-fluid .span3,
    .row-fluid .span2,
    .row-fluid .span1 {
        width: 77%;
        *width: 77%
    }
}

/* mobile only */
@media only screen and (max-width:395px) {

    .row-fluid .span9,
    .row-fluid .span8,
    .row-fluid .span7,
    .row-fluid .span6,
    .row-fluid .span5,
    .row-fluid .span4,
    .row-fluid .span3,
    .row-fluid .span2,
    .row-fluid .span1 {
        width: 88%;
        *width: 88%
    }
}