/* global blogs */
.hide-if-zero-other[data-other-post="0"],
.custom-width-blogs-sidebar {
    display: none;
}

/* Global css (product_node) */
.flickity-page-dots li {
    float: none;
}

.eb-blog-avt {
    background: #fff center no-repeat;
    background-size: contain;
    height: 150px;
}

.products-list100 .eb-blog-title,
.eb-blog100 .eb-blog-title,
.products-list100 .eb-blog-infos,
.products-list100 .eb-blog-gioithieu,
.eb-blog100 .eb-blog-gioithieu {
    height: auto;
    overflow: hidden;
}

@media only screen and (max-width:788px) {
    .products-list100 .eb-blog-infos {
        display: none;
    }
}

/* tối đa cho phần giới thiệu của blog là 5 dòng */
.products-list100 .eb-blog-gioithieu,
.eb-blog100 .eb-blog-gioithieu {
    max-height: 95px;
}

@media only screen and (max-width:788px) {

    /* .products-list100 .eb-blog-infos, */
    .products-list100 .eb-blog-gioithieu,
    .eb-blog100 .eb-blog-gioithieu,
    .products-list100 .eb-blog-title,
    .eb-blog100 .eb-blog-title {
        height: 38px;
    }
}

/* căn lề cho sidebar */
.home_menu_noidung .global-right-space,
.thread_list_menu_noidung .global-right-space,
.thread_details_menu_noidung .global-right-space,
.blogs_menu_noidung .global-right-space,
.blog_details_menu_noidung .global-right-space,
.page_menu_noidung .global-right-space {
    padding-right: 21px;
}

/* */
.home_noidung_menu .global-right-space,
.thread_list_noidung_menu .global-right-space,
.thread_details_noidung_menu .global-right-space,
.blogs_noidung_menu .global-right-space,
.blog_details_noidung_menu .global-right-space,
.page_noidung_menu .global-right-space {
    padding-left: 21px;
}

/* */
.noborder .products-list-avt,
.noborder .eb-blog-avt {
    border: 0 none;
}

/* */
.div-valign-center {
    display: inline-flex;
    align-items: center;
}

.div-valign-center.text-right {
    display: grid;
    justify-items: right;
}

.div-valign-center.text-center {
    display: grid;
    justify-items: center;
}

#oi_scroll_top {
    background: #434345;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 10px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    border: 0 none;
    top: 50%;
    transform: translate(0, -50%);
}

#oi_scroll_top:hover {
    background: #ff7e00;
}

/* .ebfixed-top-menu #oi_scroll_top, */
.ebshow-top-scroll #oi_scroll_top {
    display: block;
}

.ebfixed-top-menu .fixed-top-menu,
.ebfixed-top-menu .fix-top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* post details */
.thread-details-mobileCenter {
    max-width: 750px;
    margin: 0 auto;
}

.thread-details-mobileAvt {
    line-height: 400px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.thread-details-mobileAvt,
.thread-details-mobileAvt li {
    background: #fff center no-repeat;
    background-size: 100% auto;
    background-size: contain;
}

#export_img_product {
    display: none;
}

/* chặn hạn chế cho copy nội dung */
.thread-content-bmask {
    position: relative;
    text-align: justify;
}

.thread-content-bmask a,
.thread-content-bmask a img,
.thread-content-bmask iframe {
    position: relative;
    z-index: 2;
}

.thread-content-mask {
    position: absolute;
    top: 0;
    left: 0;
    /*
	right: 0;
	bottom: 0;
	*/
    z-index: 1;
    display: none;
}

.active-content-mask {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.active-content-mask .thread-content-mask {
    right: 0;
    bottom: 0;
    display: block;
}

/* */
.phone-numbers-block a {
    display: block;
}

.phone-numbers-inline a {
    display: inline-block;
}

.phone-numbers-inline a:after {
    content: "-";
    display: inline-block;
    padding: 0 5px 0 7px;
}

.phone-numbers-inline a:last-child:after {
    display: none;
}

/* default contact */
.footer-address-info i.fa {
    display: none;
}

.footer-address-hotline,
.footer-address-hotline:after,
.footer-address-cell {
    display: inline-block;
}

.footer-address-hotline:after {
    content: "|";
    margin: 0 12px;
}

.table-list {
    background: #fff;
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid
}

.table-list td {
    border-top: 1px transparent solid;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    padding: 6px
}

.table-list .table-list-title {
    background: #f5f5f5 !important;
    text-align: center;
    font-weight: bold
}

.table-list tr:hover {
    background: #f9f9f9
}

#target_eb_iframe {
    position: absolute;
    top: -800px;
    left: -999px;
}

.global-a-posi,
.global-position-relative {
    position: relative;
}

.global-a-posi a,
.global-position-relative a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.global-a-posi a.products-list-ant_ten,
.global-position-relative a.products-list-ant_ten {
    position: relative;
}

/* */
.img-max-width {
    overflow: hidden;
}

.hr-line-border {
    height: 1px;
    padding: 0;
    margin: 5px 0;
    border: 0 none;
    border-bottom: 1px #ccc solid;
}

.hr-line-before {
    position: relative;
    border: 0 none;
    border-bottom: 2px #ccc solid;
    line-height: 20px;
    padding: 0;
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.hr-line-before:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 2px #F60 solid;
    width: 33%;
    min-width: 50px;
}

.eb-blog-module {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

/*
* wp-content
*/
.aligncenter,
.aligncenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aligncenter .wp-caption-text {
    text-align: center;
    font-style: italic;
    font-size: 85%;
}

/* search */
.thread-search li {
    margin: 8px 0 15px 0;
    border-bottom: 1px #f2f2f2 solid;
    padding-bottom: 10px;
}

.thread-search-title {
    margin-bottom: 8px;
}

.thread-search-cat,
.thread-search-cat a {
    color: #006621;
}

.thread-search-avt {
    margin: 8px 0;
    height: 90px;
    line-height: 90px;
    background: left no-repeat;
    background-size: auto 100%;
}

.products-list-order {
    position: relative;
}

.products-list-order .products-list-orderby {
    position: absolute;
    right: 0;
    z-index: 5;
}

.products-list-orderby select {
    padding: 2px;
}

/* thêm icon open youtube */
.youtube-quick-view li .eb-blog-avt {
    text-align: center;
}

.youtube-quick-view li .eb-blog-avt span.fa-fa-youtube {
    font-size: 20px;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 20px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 8px;
}

.youtube-quick-view li:hover .eb-blog-avt span.fa-fa-youtube {
    background-color: red;
}

/* widget */
.eb-widget-youtube-padding,
.widget_eb_youtube,
.widget_eb_gg_map {
    margin-bottom: 19px;
}

.widget_eb_youtube .eb-widget-youtube-padding {
    margin-bottom: 0;
}

.widget_random_blog .margin-random-blog {
    padding-bottom: 12px;
}

.widget_random_blog li {
    margin: 6px 0;
}

.eb-category-in-js,
.eb-product-price-between {
    margin-bottom: 10px;
    font-size: 15px;
}

.eb-category-order ul,
/* .eb-category-in-js, */
.ul-widget-home_list {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.ul-widget-home_list li,
/* .eb-category-in-js li, */
.eb-category-order li {
    order: 0;
}

.eb-category-in-js li,
.eb-product-price-between li {
    line-height: 20px;
    margin: 0 0 10px 22px;
    list-style: disc;
}

.eb-category-in-js,
.eb-category-in-js a,
.eb-product-price-between,
.eb-product-price-between a {
    color: #6f6f6f;
}

.eb-category-in-js .children {
    font-size: 13px;
}

.eb-category-in-js a:hover,
.eb-product-price-between a:hover {
    text-decoration: underline;
}

.eb-widget-title {
    position: relative;
    border-bottom: 2px #ccc solid;
    /* line-height: 20px; */
    font-size: 18px;
    margin-bottom: 10px;
}

.eb-widget-title div {
    display: inline-block;
    border-bottom: 2px #f00 solid;
    margin-bottom: -2px;
    padding: 5px 0;
}

.eb-widget-title,
.eb-widget-title a {
    color: #333;
}

.eb-widget-title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 2px #F60 solid;
    width: 33%;
    min-width: 50px;
    display: none;
}

.title-center .eb-widget-title div {
    border-bottom: 0 none;
    margin-bottom: 0;
}

/* */
.global-cats-description {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    /* max-height: 250px; */
}

.viewmore-cats-description {
    display: none;
    font-size: 14px;
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .6), rgba(255, 255, 255, .7));
    background: -o-linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .6), rgba(255, 255, 255, .8));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .6), rgba(255, 255, 255, .8));
    background: linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .6), rgba(255, 255, 255, .8));
    padding: 65px 0 15px 0;
    margin-top: -50px;
    margin-bottom: 15px;
    position: relative;
}

.global-cats-description-scroll {
    height: 200px;
}

.global-cats-description-active {
    height: auto !important;
    max-height: unset !important;
    max-height: none !important;
    overflow: auto !important;
    padding-bottom: 50px;
}

.global-cats-description h2,
.global-cats-description h3,
.global-cats-description h4,
.global-cats-description h5,
.global-cats-description h6,
.global-cats-description div {
    margin: 0;
}

/* */
.org-button,
.blue-button,
.red-button,
.w-button {
    padding: 3pt 10pt;
}

.org-button,
.blue-button,
.red-button,
.w-button,
.xem-button {
    color: #fff;
    font-weight: bold;
    border-radius: 3pt;
    -moz-border-radius: 3pt;
}

.blue-button {
    background: #488BF9;
    border: 1px #2F5BB7 solid;
}

.red-button {
    background: #d14836;
    border: 1px transparent solid;
}

.org-button {
    border: 1px transparent solid;
}

.black-button {
    background-color: #333;
}

.footer-contact-content i {
    display: none;
}

.blogs-module-name {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px #999 solid;
}

.thread-details-title,
.thread-module-name,
.blogs-module-name {
    font-size: 18px;
}

.thread-module-name,
.blogs-module-name {
    padding-bottom: 10px;
}

.page-details-title,
.blog-details-title {
    font-size: 23px;
}

.thread-details-title,
.thread-details-title a,
.blog-details-title,
.blog-details-title a,
.page-details-title,
.page-details-title a,
.thread-module-name,
.thread-module-name a,
.blogs-module-name,
.blogs-module-name a {
    color: #333;
}

.footer-social {
    text-align: center;
}

.footer-social li {
    background: #666;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
}

.footer-social a {
    font-size: 20px;
    color: #fff;
    display: block;
}

.footer-social a:hover {
    opacity: .6;
}

.footer-social a span {
    display: none;
}

.show_count_cart {
    font-style: normal;
}

.show_count_cart:before {
    content: "(";
}

.show_count_cart:after {
    content: ")";
}

.thread-details-tags a:after,
.products-list-options a:after,
.products-list-tags a:after {
    content: ", ";
}

.thread-details-tags a:last-child:after,
.products-list-options a:last-child:after,
.products-list-tags a:last-child:after {
    display: none;
}

.products-list-status1,
.products-list-status2,
.products-list-status4,
.products-list-status6 {
    position: absolute;
    z-index: 2;
    display: none;
}

.products-list-status1,
.products-list-status2,
.products-list-status4 {
    right: 0;
    top: 15px;
    line-height: 25px;
    color: #fff;
    background: rgba(255, 0, 0, .8);
    text-transform: uppercase;
    min-width: 58px;
    text-align: center;
}

.products-list-status2 {
    background-color: #090;
}

.products-list-status6 {
    background: url(../images-global/golden_time.png) top left no-repeat;
    background-size: 100% auto;
    width: 90px;
    height: 90px;
    padding: 0;
    top: -2px;
    left: -2px;
}

.products-list li[data-status="1"] .products-list-status1,
.products-list li[data-status="2"] .products-list-status2,
.products-list li[data-status="4"] .products-list-status4,
.products-list li[data-status="6"] .products-list-status6 {
    display: inline-block !important;
}

/* trang chi tiết dùng chung */
.details-other-title {
    /* border-bottom: 3px #EBEBEB solid; */
    position: relative;
    line-height: 45px;
    font-size: 14pt;
    border-bottom: 3px #ccc solid;
}

.details-other-title div {
    display: inline-block;
    border-bottom: 3px #e74c0c solid;
    margin-bottom: -3px;
}

.details-other-title,
.details-other-title a {
    color: #333;
}

.details-other-title:before {
    position: absolute;
    width: 250px;
    border: 0 none;
    border-bottom: 3px #e74c0c solid;
    bottom: -3px;
    left: 0;
    height: 3px;
    padding: 0;
    margin: 0;
    content: "";
    display: none;
}

.products-list-filter {
    border-bottom: 2px #333 solid;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
}

.products-list-filter div {
    background: #333;
    padding: 0 20px;
}

/* */
.quick-register-left {
    float: left;
    width: 100%;
}

/* */
.div-search.active .span-search-icon .fa-search:before {
    content: "\f00d";
}

/* */
.thread-details-tab {
    line-height: 35px;
    border-bottom: 2px #333 solid;
    margin-bottom: 19px;
}

.thread-details-tab,
.thread-details-tab a {
    color: #333;
}

.thread-details-tab li {
    float: left;
    padding: 0 32px;
    cursor: pointer;
    background: #f2f2f2;
    margin: 0 1px 1px 0;
}

.thread-details-tab li.selected {
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width:788px) {
    .thread-details-tab li {
        text-align: center;
        padding: 0 10px;
    }
}

.eball-category-icon,
.eball-category-count {
    display: none;
}

.eball-category-icon {
    background: left no-repeat;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
}

.eball-category-icon:before {
    content: " ";
}

.wgr-icons {
    color: #090;
    width: 16px;
    height: 16px;
    font-size: 15px;
    border: 1px transparent solid;
    padding: 1px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}

.wgr-icons:hover {
    border-color: #f00;
}

/* widget custom style */
.bgtrans .eb-blog-avt {
    background-color: transparent;
}

.bgcover .eb-blog-avt {
    background-size: cover;
    background-size: 100% 100%;
}

.bgcontain .eb-blog-avt {
    background-size: contain;
}

.bgradius .eb-blog-avt {
    border-radius: 50%;
}

.bgwidth .eb-blog-avt {
    background-size: cover;
    background-size: 100% auto;
}

.bghight .eb-blog-avt {
    background-size: cover;
    background-size: auto 100%;
}

.hideavt .eb-blog-avt {
    opacity: .001;
}

.overflow-hidden .widget-run-slider {
    overflow: hidden;
}

.nomargin .eb-blog,
.nomargin .eb-blog li,
.nomargin .eb-blog-padding {
    margin: 0;
}

.title-center .home-hot-title,
.title-center .details-other-title,
.title-center .eb-widget-title {
    border: 0 none;
}

.title-center .eb-widget-title,
.title-center .eb-widget-title a {
    font-size: 25px;
    color: #000;
}

.title-center .home-list-desc,
.title-center .home-hot-title,
.title-center .home-hot-desc,
.title-center .details-other-title,
.title-center .eb-widget-title,
.title-center .eb-widget-blogs-desc {
    text-align: center;
}

.title-center .home-hot-desc,
.title-center .eb-widget-blogs-desc {
    padding-bottom: 15px;
    font-size: 15px;
}

/* */
.title-center .thread-home-c2 {
    text-align: center;
    border: 0 none;
    margin: 0;
    height: auto;
    line-height: normal;
}

.title-center .thread-home-c2:before {
    display: none;
}

.title-center .thread-home-c2 h2:first-child {
    background: none;
    display: block;
}

.title-center .thread-home-c2 a {
    color: #000 !important;
}

.title-center .thread-home-c2 h2 a:first-child {
    border: 0 none;
}

.title-center .home-list-list {
    margin-top: 15px;
}

/* */
.title-bold .details-other-title,
.title-bold .eb-widget-title {
    font-weight: bold;
}

.title-upper .home-hot-title,
.title-upper .details-other-title,
.title-upper .eb-widget-title {
    text-transform: uppercase;
}

/* */
.title-line .thread-home-c2:after {
    height: 1px;
    border-bottom: 1px #ccc solid;
    left: 0;
    right: 0;
    bottom: auto;
    top: 50%;
    width: auto;
}

.title-line .thread-home-c2 h2 {
    background: #fff !important;
    position: relative;
}

/* */
.title-line .details-other-title,
.title-line .home-hot-title,
.title-line .eb-widget-title,
.title-line .eb-widget-title div {
    position: relative;
}

.title-line .eb-widget-title {
    margin: 0;
    padding: 10px 0;
}

.title-line .details-other-title div,
.title-line .home-hot-title div,
.title-line .eb-widget-title div {
    display: inline-block;
    background: #fff;
    z-index: 1;
    padding: 0 15px;
}

.title-line .details-other-title:after,
.title-line .home-hot-title:after,
.title-line .eb-widget-title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px #ccc solid;
    bottom: 50%;
    height: 1px;
}

.title-line .details-other-title,
.title-line .home-hot-title {
    padding: 5px 0;
}

.title-line .home-hot-title:after {
    width: 100%;
}

.title-line .details-other-title div,
.title-line .home-hot-title div {
    position: relative;
}

.title-line-bg .eb-widget-title:after,
.title-line-bg .details-other-title:after,
.title-line-bg .home-hot-title:after {
    border-bottom-color: var(--default-bg);
}

.title-top-line .eb-widget-title:after,
.title-top-line .details-other-title:after,
.title-top-line .home-hot-title:after,
.title-bottom-line .eb-widget-title:after,
.title-bottom-line .details-other-title:after,
.title-bottom-line .home-hot-title:after,
.title-line50 .eb-widget-title:after,
.title-line50 .details-other-title:after,
.title-line50 .home-hot-title:after {
    left: 50%;
    width: 50%;
    transform: translate(-50%, 0);
}

.title-top-line .eb-widget-title,
.title-top-line .details-other-title,
.title-top-line .home-hot-title,
.title-bottom-line .eb-widget-title,
.title-bottom-line .details-other-title,
.title-bottom-line .home-hot-title {
    padding: 20px 0;
    margin: 20px 0;
}

.title-top-line .eb-widget-title:after,
.title-top-line .details-other-title:after,
.title-top-line .home-hot-title:after,
.title-bottom-line .eb-widget-title:after,
.title-bottom-line .details-other-title:after,
.title-bottom-line .home-hot-title:after {
    border-bottom-width: 3px;
}

.title-top-line .eb-widget-title:after,
.title-top-line .details-other-title:after,
.title-top-line .home-hot-title:after {
    top: 0;
}

.title-bottom-line .eb-widget-title:after,
.title-bottom-line .details-other-title:after,
.title-bottom-line .home-hot-title:after {
    bottom: 0;
}

.title-line20 .eb-widget-title:after,
.title-line20 .details-other-title:after,
.title-line20 .home-hot-title:after {
    width: 20%;
    max-width: 90px;
}

.title-line38 .eb-widget-title:after,
.title-line38 .details-other-title:after,
.title-line38 .home-hot-title:after {
    width: 38%;
    max-width: 250px;
}

.show-view-more .widget-products-more,
.show-view-more .widget-blog-more {
    display: block;
    text-align: center;
}

/*
.show-view-more .widget-blog-more a,
*/
.show-view-more .widget-products-more a {
    display: inline-block;
    background: #c00;
    background-color: var(--default-bg);
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
}

/* */
.noborder-widget-title .eb-widget-title div,
.noborder-widget-title .eb-widget-title,
.noborder-widget-title .details-other-title,
.noborder-widget-title .home-hot-title {
    border: 0 none;
    margin-bottom: 0;
}

.title-center .home-hot-title:before,
.title-center .details-other-title:before,
.title-center .eb-widget-title:before,
.noborder-widget-title .eb-widget-title:before,
.noborder-widget-title .details-other-title:before,
.noborder-widget-title .home-hot-title:before {
    display: none;
}

.title-center .details-other-title div,
.noborder-widget-title .details-other-title div {
    border-bottom: 0 none;
    margin-bottom: 0;
    display: block;
}

.hide-blogs-title .eb-blog-title,
.hide-blogs-description .eb-blog-gioithieu,
.hide-blogs-info .eb-blog-infos,
.hide-widget-title .home-hot-title,
.hide-widget-title .thread-home-c2,
.hide-widget-title .eb-widget-title {
    display: none;
}

.height-auto-title .eb-blog-title,
.height-auto-gioithieu .eb-blog-gioithieu {
    height: auto;
    max-height: none;
    line-height: normal;
}

.eb-blog-avt.auto-size,
.ti-le-global.auto-size {
    overflow: hidden;
    line-height: normal;
    height: auto;
}

.ty-le-global {
    position: relative;
    height: 1px !important;
    height: 0px !important;
    line-height: normal !important;
    padding-top: 100%;
    border: 0 none;
}

.eb-blog-avt.auto-size {
    background: none;
}

/* */
.fb-comments {
    background: #fff;
    width: 99.8%;
    z-index: 9;
}

/* */
.default-bg .thread-details-tohome {
    background: none;
    padding: 0 15px;
}

.default-bg .thread-details-tohome,
.default-bg .thread-details-tohome a {
    color: unset;
}

/* */
.no-set-width-this-li {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

.no-set-width-this-li div {
    padding: 90px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.no-set-width-this-li div.waiting-load {
    background: url(../images-global/load_2.gif) center no-repeat;
}

/* chỉnh lại chiều rộng cho hộp bình luận fb */
.fb_iframe_widget_fluid_desktop iframe {
    width: 100% !important;
}

/* reset lại css khi sử dụng module CSS mặc định của trình duyệt, lấy chrome làm chuẩn */
.ul-default-style ul {
    padding-left: 40px;
    margin: 1em 0;
    list-style: disc;
}

/* fixed details right menu */
.fixed-right-menu #main_right {
    position: relative;
}

.fixed-right-menu .fix-right-menu {
    position: absolute;
    left: 0;
    right: 21px;
    top: 0;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

/* */
.img-max-width img {
    max-width: 100%;
    height: auto;
}

/* */
.form-control input,
.form-control button {
    width: 100%;
    border: 0 none;
    outline: none;
}

/* */
.wgr-fa {
    display: inline-block;
    background: center no-repeat;
    background-size: cover;
    min-width: 28px;
}

.wgr-fa::before {
    content: "a";
    color: transparent;
}

.wgr-fa.wgr-icons-zalo {
    background-image: url(../images/icons/zalo.svg);
    background-size: 70%;
}

.wgr-share-icons li {
    float: left;
    margin: 0 10px 10px 0;
    width: 30px;
    text-align: center;
    border: 1px #ccc solid;
    border-radius: 3px;
}

.wgr-share-icons a {
    line-height: 28px;
    display: block;
}

/* */
.btn-small {
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: auto;
    font-size: 14px;
}

/* định dạng khối cho phần nội dung chính */
.padding-global-content.top-sidebar {
    display: flex;
    flex-direction: column-reverse;
}

/* left sidebar */
.padding-global-content.left-sidebar {
    display: flex;
    flex-direction: row-reverse;
}

/* left/ right sidebar */
.padding-global-content.left-sidebar .col-main-content,
.padding-global-content.left-sidebar .col-sidebar-content,
.padding-global-content.right-sidebar .col-main-content,
.padding-global-content.right-sidebar .col-sidebar-content {
    float: left;
}

.padding-global-content.left-sidebar .col-main-content,
.padding-global-content.right-sidebar .col-main-content {
    width: 75%;
}

.padding-global-content.left-sidebar .col-sidebar-content,
.padding-global-content.right-sidebar .col-sidebar-content {
    width: 25%;
}

.g-recaptcha div {
    margin: 0 auto;
}

.custom-bootstrap-post_type,
.custom-bootstrap-taxonomy {
    position: relative;
}

/* desktop only */
@media only screen and (min-width:748px) {}

/* mobile, table only */
@media only screen and (max-width:788px) {
    .fullsize-if-mobile {
        float: none;
        width: auto;
    }

    .hide-if-mobile {
        display: none;
    }

    .w99,
    .w90,
    .w96 {
        width: auto;
        min-width: 250px;
    }

    .center-if-mobile {
        text-align: center;
    }

    .eb-blog {
        margin: 0;
    }

    .thread-details-tohome {
        padding-left: 10px;
    }

    .reponsive-table-div {
        overflow-x: auto;
    }
}

/* mobile only */
@media only screen and (max-width:395px) {}