#click-chose-media img {
    background: url("../images/noavatar.png") center no-repeat;
    background-size: contain;
    display: block;
    margin-bottom: 10px;
    border: 1px #ccc solid;
}

/* ================================== reponsive ================================== */

/* medium size */
@media only screen and (max-width:588px) {
    .global-profile_view .row .large-4 {
        padding-bottom: 2px;
    }

    .global-profile_view .row .large-8 {
        padding-bottom: 15px;
    }
}