<div class="thread-list-padding">
    <div class="global-a-posi fcb"><a title="{{post_title}}" aria-label="{{post_title}}" href="{{p_link}}" data-href="{{trv_img}}">&nbsp;</a>
        <div class="cf">
            <div class="lf f50 thread-list-left fullsize-if-mobile">
                <div data-size="{{cf_product_size}}" data-img="{{trv_img}}" class="ti-le-global thread-list-avt each-to-bgimg">&nbsp;</div>
            </div>
            <div class="lf f50 thread-list-right fullsize-if-mobile">
                <div class="thread-list-title"> <{{dynamic_title_tag}}>{{post_title}}</{{dynamic_title_tag}}> </div>
                <div class="thread-list-info">
                    <div class="thread-list-desc">{{post_excerpt}}</div>
                    <div class="thread-list-more"><span>Chi tiết</span></div>
                </div>
            </div>
        </div>
    </div>
</div>