
#
robots.txt

#-------------------------
# themes
#-------------------------
themes/*
!themes/echbayfour
!themes/echbayfour/*
!themes/*.md
#!themes/*.actived-theme
!themes/actived-sample.php

# backup
thirdparty-bak/*
