/* Global css (thread_node) */
.thread-list {}

.thread-list-padding {}

.thread-list-padding:hover {}

.thread-list-avt {
    background: center no-repeat;
    height: 220px;
    background-size: cover;
    position: relative;
}

.thread-list-info {}

.thread-list-title {
    color: var(--default-bg);
}

.thread-list-title * {}

.thread-list-desc {}

.thread-list-more {}

.thread-list-more span {}

.thread-list-right {}

/* desktop only */
@media only screen and (min-width:748px) {}

/* mobile, table only */
@media only screen and (max-width:788px) {
    .thread-list {}

    .thread-list-padding {}

    .thread-list-title {}

    .thread-list-title * {}

    .thread-list-info {}

    .thread-list-right {}
}

/* mobile only */
@media only screen and (max-width:395px) {}