table.html-period-price {
    min-width: 80%;
}

table.html-period-price input {
    padding: 2px 5px;
    max-width: 150px;
}

table.html-period-price .btn {
    opacity: 0.01;
}

table.html-period-price tr:hover .btn {
    opacity: 1;
}