#order_details_iframe {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    display: none;
    z-index: 999;
    box-shadow: 0 0 90px #333;
    opacity: 0.2;
}

.border-post_date {}

.border-post_date td {
    border-top: 10px #ccc solid;
}

.post_excerpt-to-products {
    display: none;
}