#order_details_iframe {
    position: fixed;
    top: 0;
    right: -999px;
    bottom: 0;
    left: auto;
    display: none;
    z-index: 999;
    box-shadow: 0 0 90px #333;
    opacity: 0.2;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    width: 66%;
}

#order_details_iframe.actived {
    display: block;
    opacity: 1;
    right: 0;
}

.border-post_date {}

.border-post_date td {
    border-top: 10px #ccc solid;
}

.post_excerpt-to-products {
    display: none;
}