.click-change-user-status .show-if-actived {
    display: none;
}

.click-change-user-status[data-status="0"] .show-if-actived {
    display: inline-block;
}

.click-change-user-status[data-status="0"] .show-if-unactived {
    display: none;
}

.users-bg-avatar {
    background: url("../../images/profile.jpg") center no-repeat;
    background-size: auto 80%;
}