.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#firebase_photo img {
  height: 96px !important;
  border-radius: 50%;
  box-shadow: 0 0 10px #ccc;
  border: 5px #fff solid;
}

.firebaseui-idp-button {
  max-width: 250px;
}