<div data-type="{{post_type}}" data-id="{{ID}}" class="col small-12 medium-12 large-12">
    <div class="col-inner">
        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 itemprop="name" class="question-text">{{post_title}}</h3>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div itemprop="text" class="answer-text">{{show_post_content}}</div>
            </div>
        </div>
    </div>
</div>