<div data-type="{{post_type}}" data-id="{{ID}}" class="col small-12 medium-12 large-12">
    <div class="col-inner">
        <div itemtype="https://schema.org/Product" itemscope>
            <div itemprop="name">Executive Anvil</div>
            <div itemprop="description">Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the
                business traveler looking for something to
                drop from a height.</div>
            <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
                <meta itemprop="reviewCount" content="89" />
                <meta itemprop="ratingValue" content="4.4" />
            </div>
            <div itemprop="review" itemtype="https://schema.org/Review" itemscope>
                <div itemprop="author" itemtype="https://schema.org/Person" itemscope>
                    <div itemprop="name">Bob Smith</div>
                </div>
                <div itemprop="reviewRating" itemtype="https://schema.org/Rating" itemscope>
                    <meta itemprop="ratingValue" content="4" />
                    <meta itemprop="bestRating" content="5" />
                </div>
            </div>
        </div>
    </div>
</div>