<div data-type="{{post_type}}" data-id="{{ID}}" class="col small-12 medium-12 large-12">
    <div class="col-inner">
        <div itemscope itemtype="https://schema.org/Review">
            <div itemprop="itemReviewed" itemscope itemtype="https://schema.org/Restaurant">
                <img itemprop="image" src="https://example.com/photos/1x1/seafood-restaurant.jpg" alt="Legal Seafood" />
                <span itemprop="name">Legal Seafood</span>
                <span itemprop="servesCuisine">Seafood</span>
                <span itemprop="priceRange">$$$</span>
                <span itemprop="telephone">1234567</span>
                <span itemprop="address">123 William St, New York</span>
            </div>
            <span itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                <span itemprop="ratingValue">4</span>
            </span> stars -
            <b>"A good seafood place." </b>
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span itemprop="name">Bob Smith</span>
            </span>
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="Washington Times">
            </div>
        </div>
    </div>
</div>