<!-- bootstrap -->
<div class="row">
	<div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
		<div class="p">aaaaaaaa</div>
	</div>
	<div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
		<div class="p">bbbbbbbb</div>
	</div>
	<div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12">
		<div class="p">cccccccc</div>
	</div>
</div>
<!-- flatsome -->
<div class="row row-small row-large row-collapse row-full-width align-equal align-middle align-bottom">
	<div class="col small-12 medium-6 large-6">
		<div class="col-inner">aaaaaaaa</div>
	</div>
	<div class="col small-12 medium-6 large-6">
		<div class="col-inner">bbbbbbbb</div>
	</div>
	<div class="col small-12 medium-6 large-6">
		<div class="col-inner">cccccccc</div>
	</div>
</div>