<div data-type="{{post_type}}" data-id="{{ID}}" class="col">
    <div class="eb-blog-padding eb-news-padding global-a-posi">
        <a title="{{post_title}}" aria-label="{{post_title}}" data-id="{{ID}}" href="{{a_link}}" class="{{a_class}}"
            data-href="{{image}}" data-video="{{url_video}}" {{blog_link_option}}>&nbsp;</a>
        <div data-img="{{image}}" data-large-img="{{image_medium_large}}" data-webp="{{image_webp}}"
            data-size="{{cf_posts_size}}" class="ti-le-global eb-blog-avt each-to-bgimg">&nbsp;</div>
    </div>
</div>