<li data-type="{{post_type}}" data-id="{{ID}}">
    <div class="eb-blog-padding eb-news-padding cf">
        <div class="lf eb-blog-right eb-news-right">
            <div class="eb-blog-marginleft eb-news-marginleft l19">
                <div>
                    <{{dynamic_post_tag}} class="eb-blog-title"><a title="{{post_title}}" aria-label="{{post_title}}" data-id="{{ID}}" href="{{p_link}}" data-href="{{trv_img}}"{{blog_link_option}}>{{post_title}}</a></{{dynamic_post_tag}}>
                </div>
            </div>
        </div>
    </div>
</li>