<div><strong data-value="bgtrans" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bgtrans</strong>: <em>eb-blog-avt</em> background-color: transparent.</div>
<div><strong data-value="bgcover" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bgcover</strong>: <em>eb-blog-avt</em> background-size: 100% (cố định 2 chiều).</div>
<div><strong data-value="bgcontain" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bgcontain</strong>: <em>eb-blog-avt</em> background-size: contain (tự fixed 1 chiều).</div>
<div><strong data-value="bgwidth" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bgwidth</strong>: <em>eb-blog-avt</em> background-size: 100% auto (width 100% hight auto).</div>
<div><strong data-value="bghight" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bghight</strong>: <em>eb-blog-avt</em> background-size: auto 100% (width auto hight 100%).</div>
<div><strong data-value="bgradius" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                bgradius</strong>: <em>eb-blog-avt</em> border-radius: 50%.</div>
<div><strong data-value="noborder" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                noborder</strong>: <em>eb-blog-avt</em> border: 0 none.</div>
<div><strong data-value="noborder-widget-title" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                noborder-widget-title</strong>: <em>eb-widget-title</em> border: 0 none.</div>
<div><strong data-value="hideavt" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                hideavt</strong>: <em>eb-blog-avt</em> opacity: .001.</div>
<div><strong data-value="nomargin" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                nomargin</strong>: không tạo giãn cách giữa các LI.</div>
<div><strong data-value="oneline-in-mobile" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                oneline-in-mobile</strong>: Ép buộc về một dòng trên phiên bản mobile.</div>
<div><strong data-value="title-center" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-center</strong>: căn chữ ra giữa đồng thời tạo style mới cho tiêu đề chính.</div>
<div><strong data-value="title-bold" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-bold</strong>: in đậm tiêu đề chính.</div>
<div><strong data-value="title-upper" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-upper</strong>: viết HOA tiêu đề chính.</div>
<div><strong data-value="title-line" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-line</strong>: thêm gạch ngang trên tiêu đề chính.</div>
<div><strong data-value="title-line50" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-line50</strong>: + <strong>title-line</strong> + with: 50%</div>
<div><strong data-value="title-line-bg" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-line-bg</strong>: + <strong>title-line</strong> + default-bg</div>
<div><strong data-value="title-top-line" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-top-line</strong>: + <strong>title-line</strong> + top</div>
<div><strong data-value="title-bottom-line" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-bottom-line</strong>: + <strong>title-line</strong> + bottom</div>
<div><strong data-value="title-line20" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-line20</strong>: + <strong>title-line</strong> + width 20%, max-width 90px</div>
<div><strong data-value="title-line38" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                title-line38</strong>: + <strong>title-line</strong> + width 38%, max-width 250px</div>
<div><strong data-value="height-auto-title" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                height-auto-title</strong>: đặt style <em>eb-blog-title</em> height: auto</div>
<div><strong data-value="height-auto-gioithieu" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                height-auto-gioithieu</strong>: đặt style <em>eb-blog-gioithieu</em> height: auto</div>
<div><strong data-value="show-view-more" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i>
                show-view-more</strong>: hiển thị nút xem thêm (nếu có)</div>
<div><strong data-value="mcb" class="cur click_add_widget_class"><i class="fa fa-minus-square"></i> mcb</strong>: gán
        màu cơ bản cho tiêu đề của danh mục widget</div>