<p>Xin chào {{email}},</p>
<p>Vui lòng truy cập liên kết sau để xác minh địa chỉ email của bạn:</p>
<p>{{verify_url}}</p>
<p>Nếu không bấm được trực tiếp vào liên kết, vui lòng copy và dán vào trình duyệt của bạn.</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<p>Bạn nhận được email này bởi vì hệ thống của chúng tôi ghi nhận truy cập bất thường vào lúc
    <strong>{{date_send}}</strong> thông qua email của bạn từ địa chỉ IP <strong>{{ip}}</strong> với thiết bị là
    <strong>{{agent}}</strong>.
</p>
<p>Nếu không phải là bạn, bạn có thể bỏ qua email này.</p>
<p>Xin cảm ơn,</p>
<p>Đội ngũ {{base_url}}</p>