<p>Xin chào {{email}},</p>
<p>Chúng tôi nhận được một phiên đăng nhập từ thiết bị lạ vào tài khoản của bạn tại website: {{base_url}}</p>
<p>Thông tin thiết bị:</p>
<p>Địa chỉ IP: {{ip}}</p>
<p>Trình duyệt: {{agent}}</p>
<p>Thời gian truy cập: {{date_send}}</p>
<p>Chúng tôi đã tiến hành tạm khóa tài khoản của bạn lại nhằm đảm bảo an toàn</p>
<p>Bạn vui lòng bấm vào liên kết sau để kích
    hoạt lại tài khoản:</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<p>{{verify_url}}</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>