.remove-from-cart {
    color: #666;
    font-size: 12px;
}


.remove-from-cart span:hover {
    text-decoration: underline;
}

/* */
.cart-table {
    width: 100%;
}

.cart-table tr {}

.cart_totals-th,
/* .cart-sub-total, */
.cart-table th,
.cart-table td {
    padding: 8pt 0;
}

.cart-sidebar-table .cart-table th {
    padding: 6px 0;
    /* color: #666; */
    font-size: 13px;
}

.cart_totals-th,
/* .cart-sub-total, */
.cart-table th {
    border-bottom: 3px solid #ececec;
}

.cart-table td {
    border-bottom: 1px solid #ececec;
}

.cart-table .cart-post_title {}

.cart-table .cart-post_title a {
    font-size: 12pt;
    font-weight: bold;
}

.cart-table .cart-regular_price {
    font-size: 12pt;
    font-weight: bold;
}

.cart-table .cart-regular_price,
.cart-sub-total span {
    color: #900;
}

/* .cart-table .cart-quantity input, */
.cart-table .cart-quantity {
    max-width: 68px;
}

/* */
.cart-table .cart-quantity input[type="number"],
.cart-table .cart-quantity button,
.cart-table .cart-quantity input[type="button"] {
    display: inline-block;
    margin: 0;
    padding: 6px;
    /* padding-right: 0; */
    vertical-align: top;
}

.cart-table .cart-quantity input[type="number"] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #333;
    font-size: .97em;
    /* height: 2.507em; */
    /* max-width: 100%; */
    /* padding: 0 .75em; */
    transition: color .3s, border .3s, background .3s, opacity .3s;
    vertical-align: middle;
    /* width: 100%; */
    /* */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-radius: 0 !important;
    font-size: 1em;
    max-width: 2.5em;
    text-align: center;
    width: 2.5em;
}

/* Chrome, Safari, Edge, Opera */
.cart-table .cart-quantity input[type="number"]::-webkit-outer-spin-button,
.cart-table .cart-quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-table .cart-quantity button,
.cart-table .cart-quantity input[type="button"] {
    padding-left: .5em;
    padding-right: .5em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-shadow: 1px 1px 1px #fff;
    text-transform: none;
}

.cart-table .cart-quantity button:hover,
.cart-table .cart-quantity input[type="button"]:hover {
    background-color: #f1f1f1;
    color: #000;
}

.cart-table .cart-quantity .minus {
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
}

.cart-table .cart-quantity .plus {
    border-bottom-left-radius: 0 !important;
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
}

.cart-table .buttons_added {
    display: inline-block;
    display: inline-flex;
    margin-right: 1em;
    opacity: 1;
    vertical-align: top;
    white-space: nowrap;
}

.cart-table .cart-quantity {}

.cart-table .cart-quantity {}

.cart-table .cart-quantity {}

/* */
.cart-table .cart-image div {
    width: 90px;
}

.cart-table .cart-small-image div {
    width: 70px;
}

.cart-table tr th:last-child,
.cart-table tr td:last-child {
    text-align: right;
}

.cart-table tr td.cart-vendor-name {
    text-align: left;
}

.cart-vendor-name a {
    color: black;
    font-size: 18px;
}

.cart-vendor-name i.fa {
    color: red;
}

.cart-vendor-check {
    color: black;
}

.cart-vendor-name a:hover,
.cart-vendor-check:hover,
.cart-vendor-checked,
.cart-vendor-name a i.fa {
    color: var(--a-color);
}

.cart-table tr td.cart-vendor-locked {
    text-align: center;
    font-size: 18px;
    color: red;
}

.cart-table {}

.cart_totals-th {
    font-weight: bold;
}

.cart-sub-total {
    /* font-size: 14pt; */
    /* font-weight: bold; */
}

.cart-subtotal .cart-sub-total {
    border-bottom: 1px solid #ececec;
    padding: 6px 0;
}

.cart-subtotal .ebe-currency {
    font-weight: bold;
}

.checkout_coupon .coupon-code {
    padding: 0.75em 0;
}

.checkout_coupon input[type="text"],
.cart-ultable select,
.cart-ultable input[type="date"],
.cart-ultable input[type="tel"],
.cart-ultable input[type="text"],
.cart-ultable input[type="email"],
.cart-ultable textarea {
    width: 90%;
    max-width: 450px;
    padding: 8px;
    border-radius: 2px;
    border: 1px #999 solid;
    background: #fff;
    line-height: normal;
}

.checkout_coupon input[type="text"] {
    width: 100%;
}

.cart-mobile-regular_price,
.quick-cart-id .remove-from-cart,
/* .cart-is-product, */
.cart-is-empty,
.cart-sidebar-coupon,
.checkout-content {
    display: none;
}

.proceed-to-checkout {
    margin-bottom: 8px;
}

.checkout-content button[type="submit"] {
    max-width: 333px;
}

.row-cart .btn-link {
    text-decoration: none;
}

.cart-ultable {
    line-height: 33px;
}

.cart-ultable li {
    padding: 7px 0;
}

.cart-ultable li div.f25 {
    font-size: 15px;
}

.cart-ultable .margin-radio label {
    margin-right: 16px;
}

/* ================================== reponsive ================================== */
/* desktop only */
@media only screen and (min-width:748px) {}

/* mobile, table only */
@media only screen and (max-width:788px) {}

/* medium size */
@media only screen and (max-width:588px) {
    .cart-mobile-regular_price {
        display: block;
    }

    .cart-content .product-price,
    .cart-content .product-subtotal {
        display: none;
    }

    .row-large.row-cart>.col {
        padding: 0 15px 15px;
    }
}

/* mobile only */
@media only screen and (max-width:395px) {}