embed,
iframe,
object,
img,
#main {
    max-width: 100%;
}

/* mobile, table only */
@media only screen and (max-width:788px) {

    body:not(.document-ready),
    body:not(.document-ready) #main {
        overflow-x: hidden;
    }

    body:not(.document-ready) {
        line-height: 2.5;
    }

    .ul-default-style table {
        width: 100% !important;
        max-width: none !important;
        height: auto !important;
    }

    .ul-default-style th,
    .ul-default-style td {
        width: auto !important;
        height: auto !important;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
    }
}