:root {
    --default-bg: #0160ae;
    --main-bg: #262626;
    --default2-bg: #1a1a1a;
    --sub-bg: #1a1a1a;
    --div-bg: #ffffff;
    --main-color: #000000;
    --default-color: #000000;
    --default2-color: red;
    --sub-color: red
}